| $('#milestone_#{ @campaign.id }').append("#{ j render 'milestones/milestone', campaign: @campaign, milestone: @milestone }");
| $('#milestone_caption').val('');
| $('#milestone_referral_count').val('');
