<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Daily summary of your Salescamp campaign: </h1>
    <p>Number of users who signed up to your campaigns(s) today: = <%=@no_of_signedups %></p>
  </body>
</html>