<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>

      You have successfully referred someone to <%= @campaign.url%>,
      their email is: <%= @referred_user.email %>.<br>
    </p>
    <p>
      To go to the site, just follow this link: <%= @campaign.url%>.
    </p>
    <p>Keep going!</p>
  </body>
</html>