<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      You got a message from Salescamp.io contact form. Here is the details:<br>
    </p>
    <p>
      Name : <%=@name %><br/>
      E-Mail : <%=@email %><br/>
      Message : <%=@message_body %><br/>
    </p>
    <p>Thank you!</p>
  </body>
</html>